@model IEnumerable<Tomates.Models.Temporada>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Serie Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numtemporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TomatometroCalificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudienciaCalificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TomatometroContadorCalificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudienciaContadorCalificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numtemporada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TomatometroCalificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudienciaCalificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TomatometroContadorCalificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudienciaContadorCalificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
