@model Tomates.Models.PeliculaCelebridad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PeliculaCelebridad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celebridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celebridad.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
